html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
}

.rbc-calendar {
  height: 100% !important;
}

.rbc-time-view {
  min-height: 600px;
}

.rbc-time-content {
  min-height: 500px;
}